[submodule "mjs-claude-skill-cmux"]
	path = mjs-claude-skill-cmux
	url = git@github.com:matthewjschultz/mjs-claude-skill-cmux.git
[submodule "mjs-claude-skill-mjsfx"]
	path = mjs-claude-skill-mjsfx
	url = https://github.com/matthewjschultz/mjs-claude-skill-mjsfx.git
[submodule "mjs-claude-skill-swift-midi"]
	path = mjs-claude-skill-swift-midi
	url = git@github.com:matthewjschultz/mjs-claude-skill-swift-midi.git
